<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<display-name>Rambi Test</display-name>

	<servlet>
		<servlet-name>MemCache</servlet-name>
		<servlet-class>com.rambi.MemcacheServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MemCache</servlet-name>
		<url-pattern>/memcache</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>
			Datastore
		</servlet-name>
		<servlet-class>com.rambi.DatastoreServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Datastore</servlet-name>
		<url-pattern>/datastore</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>RambiFilter</filter-name>
		<filter-class>com.rambi.core.RambiFilter</filter-class>
		<init-param>
			<param-name>FILE-PATTERN</param-name>
			<param-value>.*[.]js</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>RambiFilter</filter-name>
		<url-pattern>/services/*</url-pattern>
	</filter-mapping>
</web-app>